<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="projects-page-title">
                    <h2>All Employees</h2>

                </div>
            </div>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Joined On</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                      
                     <% projects.forEach(function(project, i){ %>
                      <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td><%= project.title %></td>
                        <td><%= project.user.name %></td>
                        <td><%= project.bugs.length + project.closed.length %></td>
                        <td><a href="/project/view/<%= project._id %>" title="View Project"><i class="fa-regular fa-eye"></i></a>
                            <% if(locals.user.id == project.user.id){ %>
                                <a href="/project/delete/<%= project._id %>" class="delete" title="Delete Project"><i class="fa-regular fa-trash-can text-danger"></i></a>
                            <%} %>
                        </td>
                      </tr>
                      <% }) %>
                      
                    </tbody>
                  </table>
                  <% if(projects.length == 0){ %>
                    <h3>No Data Found!</h3>
                  <%} %>
            </div>
        </div>
    </div>
</main>