<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="projects-page-title">
                    <h2>Employees For Review</h2>

                </div>
            </div>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Joined On</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                      
                     <% user.assigned.forEach(function(employee, i){ %>
                      <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td><%= employee.name %></td>
                        <td><%= employee.email %></td>
                        <td><%= moment(employee.createdAt).fromNow() %></td>
                        <td><a href="/user/review/<%= employee._id %>" title="View Project">Review</a>
                          
                        </td>
                      </tr>
                      <% }) %>
                      
                    </tbody>
                  </table>
                  <% if(user.assigned.length == 0){ %>
                    <h4>No Data Found!</h4>
                    <p class="text-secondary">Contact Admin To Adding Employees For Review.</p>
                  <%} %>
            </div>
        </div>
    </div>
</main>