<main>
    <div class="container admin-container">
        <div class="row">
            <div class="col-md-12">
                <div class="projects-page-title">
                    <h2>All Reviews</h2>
                    <a href="/admin/reviews/add" class="btn btn-primary">Add Review</a>
                </div>
            </div>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Employee</th>
                        <th scope="col">Role</th>
                        <th scope="col">Stars</th>
                        <th scope="col">Reviewed By</th>
                        <th scope="col">Reviewed On</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% reviews.forEach(function(review,index){ %>
                      <tr>
                        <th scope="row"><%= index+1 %></th>
                        <td><%= review.user.name %></td>
                        <td><%= review.user.role %></td>
                        <td><%= review.stars %><span class="text-warning">★</span></td>
                        <td><%= review.reviewer.name %></td>
                        <td><%= moment(review.createdAt).fromNow() %></td>
                        <td>
                          <a href="/admin/reviews/view/<%= review.id %>" class="me-2" title="View Information"><i class="fa-solid fa-circle-info text-info"></i></a>
                          <a href="/admin/reviews/edit/<%= review.id %>" class="me-2"><i class="fa-regular fa-pen-to-square text-primary"></i></a>
                          <a href="/admin/reviews/delete/<%= review.id %>" class="delete"><i class="fa-regular fa-trash-can text-danger"></i></a>
                        </td>
                      </tr>
                      <% }) %>
                      
                    </tbody>
                  </table>
                  <% if(reviews.length == 0){ %>
                    <h4>No Reviews Found!</h4>
                    <%} %>
            </div>
        </div>
    </div>
</main>